.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.bground {
    background-image: url(../../assets/img/bg.png);
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.15;
    background-size: 100px 100px;
}

.yellow-bar {
    --background: #ffe32d !important;
    --ion-color: #000000;
}

.blue-bar {
    --background: #2a46c4 !important;
}

.red-bar {
    --background: #da0d0d !important;
    --min-height: 65px !important;
}

.button3 {
    margin-top: 45px !important;
    z-index: 10;
    display: inline-table;
    margin: 0 auto;
    border-radius: 10px;
    transition: box-shadow .1s ease-in-out;
    box-shadow: 0px 3px rgba(128, 128, 128, 1), /* gradient effects */
    0px 4px rgba(118, 118, 118, 1), 0px 5px rgba(108, 108, 108, 1), 0px 6px rgba(98, 98, 98, 1), 0px 7px rgba(88, 88, 88, 1), 0px 8px rgba(78, 78, 78, 1), 0px 14px 6px -1px rgba(128, 128, 128, 1);
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px rgba(128, 128, 128, 1), /* gradient effects */
    0px 4px rgba(118, 118, 118, 1), 0px 5px rgba(108, 108, 108, 1), 0px 6px rgba(98, 98, 98, 1), 0px 7px rgba(88, 88, 88, 1), 0px 8px rgba(78, 78, 78, 1), 0px 14px 6px -1px rgba(128, 128, 128, 1);
    /* shadow */
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

span img {
    width: 190px;
}

.button3 span {
    background-color: #E8E8E8;
    background-image: /* gloss gradient */
    -webkit-gradient( linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.2))), /* dark outside gradient */
    -webkit-gradient( linear, left top, right top, color-stop(0%, rgba(210, 210, 210, 0.3)), color-stop(20%, rgba(210, 210, 210, 0)), color-stop(80%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.3))), /* light inner gradient */
    -webkit-gradient( linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.5)), color-stop(80%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))), /* diagonal line pattern */
    -webkit-gradient( linear, 0% 100%, 100% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(40%, #D2D2D1), color-stop(60%, #D2D2D1), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    -webkit-box-shadow: 0px -1px #fff, /* top highlight */
    0px 1px 1px #FFFFFF;
    /* bottom edge */
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    box-shadow: 0px -1px #fff, /* top highlight */
    0px 1px 1px #FFFFFF;
    /* bottom edge */
    background-size: 100%, 100%, 100%, 4px 4px;
    border-radius: 10px;
    transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20', 'PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.button3 span:hover {
    color: #AEBF3B;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.button3:active {
    box-shadow: 0px 3px rgba(128, 128, 128, 1), 0px 4px rgba(118, 118, 118, 1), 0px 5px rgba(108, 108, 108, 1), 0px 6px rgba(98, 98, 98, 1), 0px 7px rgba(88, 88, 88, 1), 0px 8px rgba(78, 78, 78, 1), 0px 10px 2px 0px rgba(128, 128, 128, .6);
    -webkit-box-shadow: 0px 3px rgba(128, 128, 128, 1), 0px 4px rgba(118, 118, 118, 1), 0px 5px rgba(108, 108, 108, 1), 0px 6px rgba(98, 98, 98, 1), 0px 7px rgba(88, 88, 88, 1), 0px 8px rgba(78, 78, 78, 1), 0px 10px 2px 0px rgba(128, 128, 128, .6);
    /* shadow */
}

.button3:active span {
    transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    /* depth of button3 press */
}