<ion-header>
    <ion-toolbar class="yellow-bar" mode="md">
        <ion-title>
            Guaidapp - VI República
        </ion-title>
        <ion-buttons slot="end">
            <ion-button size="large" color="dark" (click)="presentAlert();">
                <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="blue-bar">
    <div class="container">
        <a class="button3" (click)="generarFrase();">
            <span>
                  <img src="../../assets/img/guaido.png" alt="" srcset="">
               </span>
        </a>
        <div class="bground"></div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="red-bar">

    </ion-toolbar>
</ion-footer>